---
import MainLayout from "../../layouts/MainLayout.astro";
---

<MainLayout title="Road Tripper">
    <main class="container mx-auto mt-4 px-4">
        <h1 class="text-6xl">Road Tripper</h1>
        <h2
            class="px-8 py-2 bg-gradient-to-br from-cyan-500 to-blue-600 inline-block font-bold text-2xl rounded-full text-white mt-6"
        >
            About the Project
        </h2>
        <p class="mx-4 mt-2">
            The Road Tripper application brings together APIs in fuel pricing and travel directions to provide the user with
            guidance on whether they are able to make it to their destination with or without refuelling. If the journey
            is sufficiently long that they will need to refill, then the application recommends places for the user to refuel
            along the way.
        </p>
        <h2
            class="px-8 py-2 bg-gradient-to-br from-cyan-500 to-blue-600 inline-block font-bold text-2xl rounded-full text-white mt-6"
        >
            Technologies Used
        </h2>
        <p class="mx-4 mt-2">
            This application makes use of modern web technologies: specifically Express.js.
        </p>
    </main>
</MainLayout>
