---
const {title} = Astro.props;
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{title} | McCorsa</title>
	</head>
	<body>
		<nav class="flex flex-row p-4 gap-2 border-b">
			<div class="text-lg font-bold">McCorsa</div>
		</nav>
		<slot />
	</body>
</html>